# Environment Configuration
# Copy this file to .env and update the values

# API Configuration
# For simulator/emulator: EXPO_PUBLIC_API_BASE_URL=http://localhost:3000/api
# For physical device: EXPO_PUBLIC_API_BASE_URL=http://YOUR_IP_ADDRESS:3000/api
EXPO_PUBLIC_API_BASE_URL=http://localhost:3000/api

# Environment
NODE_ENV=development

# Payment Configuration
EXPO_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_83c504f9610498d9aa682fd6e4149cb559e74aec

# Monnify Configuration
EXPO_PUBLIC_MONNIFY_API_KEY=MK_TEST_NPBMCL8Z2Y
EXPO_PUBLIC_MONNIFY_SECRET_KEY=QAQ12VN7N95EMMG0BTD6784LALTWKYQU
EXPO_PUBLIC_MONNIFY_CONTRACT_CODE=6250242656
EXPO_PUBLIC_MONNIFY_BASE_URL=https://sandbox.monnify.com
EXPO_PUBLIC_MONNIFY_WALLET_ACCOUNT=9964840075

# Cloudflare Configuration
EXPO_PUBLIC_CF_ACCOUNT_ID=993817d538df684ec6e06971ddb8d567
EXPO_PUBLIC_CF_BUCKET=vendr-media
EXPO_PUBLIC_CF_PUBLIC_URL=https://pub-501fd352073f42b9a160f33d7d9a95fa.r2.dev

# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=https://mbdojwirmtknzpwccthb.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1iZG9qd2lybXRrbnpwd2NjdGhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3OTkxMjEsImV4cCI6MjA4ODM3NTEyMX0.D6VG2ifvmXpCmphZf9pKazrQJaXxNofCM2NMJRk-nOM

# Project Configuration
EXPO_PUBLIC_PROJECT_ID=eb0afe8d-4b68-4b43-b84e-bc67fdb4e5c8

# Sentry Configuration
EXPO_PUBLIC_SENTRY_DSN=https://a931efb361e3098ed60ad8883a768daa@o4511034433339392.ingest.de.sentry.io/4511034438123600
